In [2]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [3]:
!pip install pandas

Defaulting to user installation because normal site-packages is not writeable
Collecting pandas
  Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (89 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 89.9/89.9 kB 1.7 MB/s eta 0:00:00 MB/s eta 0:00:01
Requirement already satisfied: numpy>=1.26.0 in /home/user/.local/lib/python3.12/site-packages (from pandas) (2.2.3)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/lib/python3.12/site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1 (from pandas)
  Downloading pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Downloading tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Requirement already satisfied: six>=1.5 in /usr/lib/python3.12/site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading pandas-2.2.3-cp312-cp312-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.7/12.7 MB 3.6 MB/s eta 0:00:00m eta 0:00:01[36m0:00:01
Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 509.2/509.2 kB 2.7 MB/s eta 0:00:00[36m0:00:01[36m0:00:01:01
Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 347.8/347.8 kB 3.7 MB/s eta 0:00:00[31m4.2 MB/s eta 0:00:01
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.2.3 pytz-2025.2 tzdata-2025.2

In [4]:
import pandas as pd

In [5]:
data = {
    'patient_id': [1, 2, 3, 4, 5, 5, 6, 7, 8, 9],
    'age': [45, 200, 30, 35, 50, 50, 28, 67, 80, None],
    'diabetes_type': ['Type2', 'Type1', 'type2', 'Type 1', 'Type2', 'Type2', 'Type3', 'Type1', None, 'Type2'],
    'blood_pressure': ['120/80', '140/90', '90/60', '13.3/8.7 kPa', '130/85', '130/85', '150/95', '160/100', '110/70', None],
    'glucose': [150, 300, 88, 200, None, 200, 250, 400, 180, 130],
    'last_visit_date': ['2023-05-12', '05/12/2023', '2023.06.01', '2023-07-20', '07/20/2023', '07/20/2023', '2023-08-15', None, '2023-09-01', '2023-10-10']
}
df = pd.DataFrame(data)
print("Raw Data:")
print(df)

Raw Data:
   patient_id    age diabetes_type blood_pressure  glucose last_visit_date
0           1   45.0         Type2         120/80    150.0      2023-05-12
1           2  200.0         Type1         140/90    300.0      05/12/2023
2           3   30.0         type2          90/60     88.0      2023.06.01
3           4   35.0        Type 1   13.3/8.7 kPa    200.0      2023-07-20
4           5   50.0         Type2         130/85      NaN      07/20/2023
5           5   50.0         Type2         130/85    200.0      07/20/2023
6           6   28.0         Type3         150/95    250.0      2023-08-15
7           7   67.0         Type1        160/100    400.0            None
8           8   80.0          None         110/70    180.0      2023-09-01
9           9    NaN         Type2           None    130.0      2023-10-10

In [6]:
print("\n--- Remove Duplicates ---")
df = df.drop_duplicates()
print(f"Rows after removing duplicates: {len(df)}")

--- Remove Duplicates ---
Rows after removing duplicates: 10

In [7]:
df

   patient_id    age diabetes_type blood_pressure  glucose last_visit_date
0           1   45.0         Type2         120/80    150.0      2023-05-12
1           2  200.0         Type1         140/90    300.0      05/12/2023
2           3   30.0         type2          90/60     88.0      2023.06.01
3           4   35.0        Type 1   13.3/8.7 kPa    200.0      2023-07-20
4           5   50.0         Type2         130/85      NaN      07/20/2023
5           5   50.0         Type2         130/85    200.0      07/20/2023
6           6   28.0         Type3         150/95    250.0      2023-08-15
7           7   67.0         Type1        160/100    400.0            None
8           8   80.0          None         110/70    180.0      2023-09-01
9           9    NaN         Type2           None    130.0      2023-10-10